# **10장 모델 설계하기**

* 데이터를 불러오기 위해 pandas 라이브러리를 사용
pandas에 대한 자세한 내용은 뒷장에서 다룰 예정

In [ ]:
import io
import pandas as pd

* 데이터 불러오기

In [ ]:
data_pandas=pd.read_csv('ThoraricSurgery.csv', header=None)

In [ ]:
data_pandas

      0   1     2     3   4   5   6   7   ...  10  11  12  13  14  15  16  17
0    293   1  3.80  2.80   0   0   0   0  ...  12   0   0   0   1   0  62   0
1      1   2  2.88  2.16   1   0   0   0  ...  14   0   0   0   1   0  60   0
2      8   2  3.19  2.50   1   0   0   0  ...  11   0   0   1   1   0  66   1
3     14   2  3.98  3.06   2   0   0   0  ...  14   0   0   0   1   0  80   1
4     17   2  2.21  1.88   0   0   1   0  ...  12   0   0   0   1   0  56   0
..   ...  ..   ...   ...  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..  ..  ..
465   98   6  3.04  2.40   2   0   0   0  ...  11   0   0   0   1   0  76   0
466  369   6  3.88  2.72   1   0   0   0  ...  12   0   0   0   1   0  77   0
467  406   6  5.36  3.96   1   0   0   0  ...  12   0   0   0   0   0  62   0
468   25   8  4.32  3.20   0   0   0   0  ...  11   0   0   0   0   0  58   1
469  447   8  5.20  4.10   0   0   0   0  ...  12   0   0   0   0   0  49   0

[470 rows x 18 columns]

* 케라스 함수 호출하고 numpy 불러오기

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import tensorflow as tf
import numpy as np

* 실행할 때마다 같은 결과를 출력하기 위해서 seed값 설정

In [ ]:
np.random.seed(3)
tf.random.set_seed(3)

* 속성인 환자의 기록을 X, 클래스인 수술 결과를 Y로 저장
* 인덱싱 : 그 데이터를 가리키는 것

  -- loc : 인덱스 이름으로 직접 참조

  -- iloc : 정수 인덱스값

* 슬라이싱 : 데이터를 자르는 것

In [ ]:
#[행, 열]
#[시작점:끝점, 시작점:끝점]
# : 앞뒤에 아무것도 적지 않으면 '다'라는 뜻
X=data_pandas.iloc[:, :17]
Y=data_pandas.iloc[:, 17]
X

      0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16
0    293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62
1      1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60
2      8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66
3     14   2  3.98  3.06   2   0   0   0   1   1  14   0   0   0   1   0  80
4     17   2  2.21  1.88   0   0   1   0   0   0  12   0   0   0   1   0  56
..   ...  ..   ...   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
465   98   6  3.04  2.40   2   0   0   0   1   0  11   0   0   0   1   0  76
466  369   6  3.88  2.72   1   0   0   0   1   0  12   0   0   0   1   0  77
467  406   6  5.36  3.96   1   0   0   0   1   0  12   0   0   0   0   0  62
468   25   8  4.32  3.20   0   0   0   0   0   0  11   0   0   0   0   0  58
469  447   8  5.20  4.10   0   0   0   0   0   0  12   0   0   0   0   0  49

[470 rows x 17 columns]

In [ ]:
Y

0      0
1      0
2      1
3      1
4      0
      ..
465    0
466    0
467    0
468    1
469    0
Name: 17, Length: 470, dtype: int64

* 모델 구조 결정 (입력층, 은닉층, 출력층)

In [ ]:
model=Sequential()
model.add(Dense(30, input_dim=17, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

*!!이제 모델을 실행해보자
!!*

In [ ]:
model.compile(loss='mean_squared_error', optimizer='adam', metrics=['accuracy'])
#model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy']) 
model.fit(X, Y, epochs=100, batch_size=10)

* pandas로 파마 인디언 데이터 분석하기

In [ ]:
import pandas as pd
df = pd.read_csv('pima-indians-diabetes.csv', names = ["pregnant", "plasma", "pressure", "thickness", "insulin", "BMI", "pedigree", "age", "class"])

In [ ]:
print(df.head(5))

In [ ]:
print(df.info())

In [ ]:
print(df.describe())

In [ ]:
print(df[['pregnant', 'pressure', 'class']])